*{
    box-sizing: border-box;
}

.centre{
    justify-content: center;
    display: flex;
}
.article{
    padding: 10px;
    position: relative;
    height: 30rem;
}

.content-styling{
    margin: 0 0 5px 0;
    height: auto;
}

.button-container{
    text-align: center;
    width: 50%;
    padding: 10px 5px 10px 5px;
    background-color: rgba(148, 120, 186, 0.32);
    margin: 0 auto 5px 0;
    position: absolute;
    bottom: 0;
}

.large-heading{
    font-size: 35px;
    text-transform: capitalize;
    margin: 5px 0 5px 0;
}

.small-heading{
    font-size: 25px;
    text-transform: capitalize;
    text-align: left;
    margin: 1px 0 1px 0;
}

.redBackground{
    background-color: #FF0000;
}

.blue-bg{
    background-color: #0e0ed5;
    color: #ffffff;
}

.blue-text{
    background-color: #ffffff;
    color: #4f6fa9;
    border: solid 2px #4f6fa9;
}

.orange-text{
    background-color: #ffffff;
    color: #f58804;
    border: solid 2px #F58804;
}
.orange-bg{
    background-color: #F58804;
    color: #000000;
}
.red-bg{
    background-color: #FF0000;
    color: #ffffff;
}

.red-text{
    background-color: #ffffff;
    color: #FF0000;
    border: solid 2px #FF0000;
}
.green-bg{
    background-color: #008000;
    color: #000000;
}
.green-text{
    background-color: #ffffff;
    color: #008000;
    border: solid 2px #008000;
}

.yellow-bg{
    background-color: #FFFF00;
    color: #000000;
}
.yellow-text{
    background-color: #ffffff;
    color: #FFFF00;
    border: solid 2px #FFFF00;
}

.pink-text{
    background-color: #ffffff;
    color: #FFC0CB;
    border: solid 2px #FFC0CB;
}
.pink-bg{
    background-color: #FFC0CB;
    color: #000000;
}



*{
    box-sizing: border-box;
}

.button-styling{
    padding: 2px;
    margin:2px 20px 2px 20px;
}

@media (max-width: 600px){
    .button-container{
        text-align: center;
        width: 200px;
        padding: 10px 1px 10px 1px;
        background-color: rgba(148, 120, 186, 0.32);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 5px 5px;
        height: auto;

    }
    .button-styling{
        padding: 1px;
        margin:1px 1px 1px 1px;
    }
    .article{
        padding: 1px;
        position: relative;
        min-height: 30rem;
        width: 100vw;
    }

    .small-heading{
        font-size: 15px;
        text-transform: capitalize;
        text-align: left;
    }

    .large-heading{
        font-size: 25px;
        text-transform: capitalize;
    }

    .content-styling{
        height: auto;
    }
}